<%- include("../../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">
<style>
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.form-border{
  border: solid 2px #f56a6a;
  padding-left: 10px ;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  padding-top: 10px ;
  margin-top: 20px;
}
.contr {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.anchor{
 color: #f56a6a;
 text-decoration: underline;
}
.anchor:hover{
  color: #c71c1c  ;
}
.primary{
  margin-top: 15px;
}
.dlt{
  border-radius: 50%;
  background-color: #c71c1c;
  display: inline;
  color: #ffffff;
  font-weight: bold;
}
span{
  display: inline-block;
  text-align: right;
  width: 100%;
}

</style>
	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=employee.first_name %> <%= employee.last_name %> -
					<%= currentUser.user_role%></a>
			</header>

			<!-- Content -->
			<section>

				<header class="major">
					<h2>Edit Daily Status Report</h2>
				</header>

                <!-- <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis
                    dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet.
                    Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada
                    et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget
                    turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.
                
                </p> -->
                <!-- Form -->
                <form id="multi" action="/report/update" method="POST">
                  <div class="form-row">
                    <input hidden value="default" type="text" name="tid">
                    <input hidden type="text" name="_id" value="<%=report._id%>">
                    <input hidden name="emp_id" type="text" value="<%=employee._id%>"> 
                    <div hidden class="form-group col-md-4 ">
                      <label for="task">Task 1:</label>
                      <input  type="text" value="default"  class="form-control" id="task" name="tasks">
                    </div>
                    <div hidden class="form-group col-md-4 ">
                        <label for="time">Time Spent </label>
                        <input  placeholder="in Hours" value="5" type="number" class="form-control" id="time" name="time">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="date">Date</label>
                      <input type="date" value="<%=new Date(report.date).getFullYear()+'-'+((new Date(report.date).getMonth() + 1) <= 9 ? '0' + (new Date(report.date).getMonth() + 1) : (new Date(report.date).getMonth() + 1))+'-'+(new Date(report.date).getDate() <= 9 ? '0' + new Date(report.date).getDate()  : new Date(report.date).getDate() )%>" class="form-control" id="date" name="date">
                    </div>
                  </div>
                  <div hidden class="form-row">
                      <div class="form-group col-md-12 ">
                          <label for="desc">Description or Doubts</label>
                          <textarea  id="desc" value="default" name="desc" cols="30" rows="5"></textarea>
                      </div>
                  </div>
                  

                      <div id="add" class="">
                        <% report.tasks.forEach((task)=>{%>
                        <div class="form-border">
                          <span>                      
                            <p hidden  id="link" onclick="remove(``)" class="dlt btn-sm" >X</p>
                          </span>
                          <input hidden type="text" value="<%=task._id%>" name="tid">
                          <div class="form-row ts">
                                                 
                            <div class="form-group col-md-4 ">
                              <label for="task">Task <%=report.tasks.indexOf(task)+1%>:</label>
                              <input list="projects" required type="text" value="<%=task.task%>" class="form-control" id="task<%=report.tasks.indexOf(task)%>" name="tasks">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="time">Time Spent (in hrs.)</label>
                              <input value="<%=task.time%>" required placeholder="in Hours" type="number" class="form-control" id="time<%=report.tasks.indexOf(task)%>" name="time">
                            </div>
                          </div>
                          <div class="form-row ds">
                            <div class="form-group col-md-12 ">
                              <label for="desc">Description or Doubts</label>
                              <textarea required id="desc<%=report.tasks.indexOf(task)%>" name="desc" cols="30" rows="5"><%=task.description%></textarea>
                            </div>
	                       </div>
                        </div>
                        <% }) %>
                      </div>

                    
                      <div class="contr">
                        <button type="submit" class="button primary ">Update</button>
                        <div class="btn-holder">
                          <!-- <p class="anchor" onclick="add()">Add another Task</p> -->
                        </div>
                      </div>
                      
                  </form>
                  <datalist id="projects">
                    <% projects.forEach(function(project){ %>
                      <option value="<%=project.name%>">
                    <% }) %>
                  </datalist>
        </section>
  
      </div>
    </div>
  
    <!-- Sidebar -->
    <%- include("../../partials/emp_sidebar") %>
  
  </div>
  
  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/rep_new.js"></script>
  
  </body>
  
  </html>