<%- include("../../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%= currentUser.username%></a>
			</header>

			<!-- Content -->
			<section>

				<header class="major">
					<h2>Projects List</h2>
				</header>

				<!-- Table -->
				<div class="table-wrapper" style="margin-top: 30px;">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Start</th>
								<th>End</th>
								<th>Assigned Dept</th>
								<th>State</th>
							</tr>
						</thead>
						<tbody>
							<% projects.forEach(function(project){ %>
							<tr>
								<td><a href="/homeadmin/projects/<%=project._id%>"><%= project.name %></a></td>
								<td><%= project.start%> </td>
								<td><%= project.end%></td>
								<td><%= project.department %></td>
								<td><%= project.state %></td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../../partials/sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>