<%- include("../../partials/header") %>
<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=emp.first_name %> <%= emp.last_name %> -
                    <%= currentUser.user_role%></a>
			</header>

			<!-- Content -->
			<section>
				<header class="main">
					<h1>Update Informations</h1>
				</header>

				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
					venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor
					sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
					massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris.
					Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis,
					hendrerit.</p>

				<hr class="major" />

				<!-- Form -->
				<form action="/homehr/employees/<%=emp._id%>?_method=PUT" method="POST">
					<!-- Personal Details Card -->
					<div class="card">
						<h5 class="card-header">Personal Details</h5>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputFname">First Name</label>
									<input type="text" class="form-control" id="inputFname" name="employee[first_name]"
										value="<%=emp.first_name%>" required>
								</div>
								<div class="form-group col-md-6">
									<label for="inputLname">Last Name</label>
									<input type="text" class="form-control" id="inputLname" name="employee[last_name]"
										value="<%=emp.last_name%>" required>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputDob">Date Of Birth</label>
									<input type="date" class="form-control" id="inputDob" name="employee[date_of_birth]"
										value="<%=emp.date_of_birth%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputGender">Gender</label>
									<select id="inputGender" class="form-control" name="employee[gender]"
										value="<%=emp.gender%>" required>
										<option selected>- Choose -</option>
										<option>Male</option>
										<option>Female</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputMarital">Marital Status</label>
									<select id="inputMarital" class="form-control" name="employee[marital_status]"
										value="<%=emp.marital_status%>" required>
										<option selected>- Choose -</option>
										<option>Married</option>
										<option>Single</option>
									</select>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputNationality">Nationality</label>
									<input type="text" class="form-control" id="inputNationality"
										name="employee[nationality]" value="<%=emp.nationality%>" required>
								</div>
								<div class="form-group col-md-3">
									<label for="inputGender">Passport NO</label>
									<input type="text" class="form-control" id="inputGender"
										name="employee[passport_no]" value="<%=emp.passport_no%>" required>
								</div>
								<div class="form-group col-md-3">
									<label for="inputPhoto">Photo(URL)</label>
									<input type="text" class="form-control" id="inputPhoto" name="employee[photo]"
										value="<%=emp.photo%>" required>
								</div>
							</div>
						</div>
					</div>

					<!-- Contact Details Card -->
					<div class="card" style="margin-top: 20px;">
						<h5 class="card-header">Contact Details</h5>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputAddr">Address</label>
									<input type="text" class="form-control" id="inputAddr" name="employee[address]"
										value="<%=emp.address%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputCity">City</label>
									<input type="text" class="form-control" id="inputCity" name="employee[city]"
										value="<%=emp.city%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail">Email</label>
									<input type="email" class="form-control" id="inputEmail" name="employee[email]"
										value="<%=emp.email%>" required>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputCountry">Country</label>
									<input type="text" class="form-control" id="inputCountry" name="employee[country]"
										value="<%=emp.country%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputMobile">Mobile</label>
									<input type="text" class="form-control" id="inputMobile" name="employee[mobile]"
										value="<%=emp.mobile%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputPhone">Phone</label>
									<input type="text" class="form-control" id="inputPhone" name="employee[phone]"
										value="<%=emp.phone%>">
								</div>
							</div>
						</div>
					</div>

					<!-- Bank Information Card -->
					<div class="card" style="margin-top: 20px;">
						<h5 class="card-header">Bank Information</h5>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputBankN">Bank Name</label>
									<input type="text" class="form-control" id="inputBankN" name="employee[bank_name]"
										value="<%=emp.bank_name%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputAccountName">Account Name</label>
									<input type="text" class="form-control" id="inputAccountName"
										name="employee[account_name]" value="<%=emp.account_name%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputAccountNumber">Account NO</label>
									<input type="text" class="form-control" id="inputAccountNumber"
										name="employee[account_no]" value="<%=emp.account_no%>" required>
								</div>
							</div>
						</div>
					</div>

					<!-- Official Status Card -->
					<div class="card" style="margin-top: 20px;">
						<h5 class="card-header">Official Status</h5>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputEmployeeID">Employee ID</label>
									<input type="text" class="form-control" id="inputEmployeeID"
										name="employee[employee_id]" value="<%=emp.employee_id%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputDesignation">Designation</label>
									<input type="text" class="form-control" id="inputDesignation"
										name="employee[designation]" value="<%=emp.designation%>" required>
								</div>
								<div class="form-group col-md-4">
									<label for="inputJoining">Joining Date</label>
									<input type="date" class="form-control" id="inputJoining"
										name="employee[joining_date]" value="<%=emp.joining_date%>" required>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputDept">Department</label>
									<select id="inputDept" class="form-control" name="employee[department]">
										<option selected><%=emp.department%></option>
										<% departments.forEach(function(dept){ %>
										<% if(dept.company === currentUser.company_name){ %>
										<option><%= dept.department_name%></option>
										<% } %>

										<% }) %>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputSalary">Salary</label>
									<input type="text" class="form-control" id="inputSalary" name="employee[salary]"
										value="<%=emp.salary%>">
								</div>
								<div class="form-group col-md-4">
									<label for="inputCompany">Company</label>
									<input type="text" class="form-control" id="inputCompany" name="employee[company]"
										value="<%= currentUser.company_name%>" required>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputEmployeeType">Employee Type</label>
									<select id="inputEmployeeType" class="form-control"
										name="employee[type_of_employee]" required>
										<option selected><%=emp.type_of_employee%></option>
										<option>Full-Time</option>
										<option>Part-Time</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputQualification">Qualification</label>
									<input type="text" class="form-control" id="inputQualification"
										name="employee[qualification]" value="<%=emp.qualification%>" required>

								</div>
								<div class="form-group col-md-2">
									<label for="inputStarthour">Start Hour</label>
									<input type="time" name="employee[hour_start]" id="inputStarthour" style="width: 100%;" value="<%=emp.hour_start%>">
								</div>
								<div class="form-group col-md-2">
									<label for="inputEndhour">End Hour</label>
									<input type="time" name="employee[hour_end]" id="inputEndhour" style="width: 100%;" value="<%=emp.hour_end%>">
								</div>
							</div>
						</div>
					</div>

					<button type="submit" class="button primary mt-3">Update</button>
				</form>

			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../../partials/hr_sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

</body>

</html>