<%- include("../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=employee.first_name %> <%= employee.last_name %> -
					<%= currentUser.user_role%></a>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header class="text-center">
						<h1><%=employee.first_name%> <%=employee.last_name%></h1>
						<p><%=employee.designation%></p>
					</header>
					<p class="text-center">
						<strong>Company: </strong><%=employee.company%> <br>
						<strong>Employee ID: </strong><%=employee.employee_id%> <br>
						<strong>Department: </strong><%=employee.department%> <br>
						<strong>Contract Type: </strong><%=employee.type_of_employee%> <br>
						<strong>Joining Date: </strong><%=employee.joining_date%> <br>
					</p>
					<div class="d-flex justify-content-center">
						<ul class="actions">
							<li><a href="/homehr/employees/<%=employee._id%>" class="button big">View More</a></li>
						</ul>
					</div>
					
				</div>
				<span class="image object">
					<img src="<%= employee.photo%>" class="image fit" style="width: 60%; margin: auto;" alt="" />
				</span>
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Services</h2>
				</header>
				<div class="features">
					<article>
						<span class="icon fa-gem"></span>
						<div class="content">
							<h3>Improve Workforce Management Efficiencies</h3>
							<p>E.M.S platform works for you, not against you, you’ll never need to import multiple files
								and re-key data across different platforms.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-handshake"></span>
						<div class="content">
							<h3>Employee Engagement</h3>
							<p>Tools such as Performance Management provides a modern way to track and evaluate employee
								development. You’re able to work with employees to establish goals, make them feel
								valuable and develop a path for their success.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-lock"></span>
						<div class="content">
							<h3>Securing Employee Information</h3>
							<p>E.M.S system provide you with specific security measures, multi-factor authentication and
								data encryption just to name a few, to keep your employees’ information safe.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-chart-line"></span>
						<div class="content">
							<h3>HR Data Analytics & Metrics</h3>
							<p>With data analytics, solutions are developed and results are measured to not only impact
								your bottom line but help you gain more exposure to your C-Suite.</p>
						</div>
					</article>
				</div>
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Overview</h2>
				</header>

				
			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../partials/hod_sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>