<%- include("../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <a href="#" class="logo"><strong>Login as:</strong> <%= currentUser.username%></a>
      </header>

      <!-- Content -->
      <section>

        <header class="major">
          <h2>The Developer</h2>
        </header>

        <div class="row">
          <div class="col-sm-6">
            <img src="images/header.jpeg" alt="" class="image fit" style="width: 50%; margin: auto;">
          </div>
          <div class="col-sm-6 mt-3 text-center">
            
            <p><strong>First Name:</strong> Aman | <strong>Last Name:</strong> Sharma <br>
               <strong>Location:</strong> Indore, India <br>
               <strong>Occupation:</strong> Student (grd 2022) <br>
               <strong>School:</strong> Gujrati Innovative College <br>
               <strong>Student ID:</strong> 1650400501 <br>\
               <strong>Phone Number:</strong> +91-7869336577 <br>
               <strong>Email:</strong> amansharmatout@gmail.com <br>
            </p>
          </div>
        </div>
        
        <header class="major mt-5">
          <h2>The Software</h2>
        </header>

        <p>E.M.S was built to make difficult tasks look easy to handle for everyone.</p>

      </section>

    </div>
  </div>

 <!-- Sidebar -->
	<% if(currentUser.user_role === 'Admin'){ %>
		<%- include("../partials/sidebar") %>
	<% }else if(currentUser.user_role === 'HR'){ %>
		<%- include("../partials/hr_sidebar") %>
	<% }else if(currentUser.user_role === 'HOD'){ %>
        <%- include("../partials/hod_sidebar") %>
    <% }else { %>
        <%- include("../partials/emp_sidebar") %>
    <% } %> %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>