<%- include("../../partials/header") %>
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <a href="#" class="logo"><strong>Login as:</strong> <%= currentUser.username%></a>
      </header>

      <!-- Content -->
      <section>
        <header class="main">
          <h1>Edit Department</h1>
        </header>

        <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis
          dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet.
          Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada
          et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget
          turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh
          porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum.
          Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in
          aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed
          vehicula.</p>

        <hr class="major" />

        <!-- Form -->
        <form action="/homeadmin/departments/<%= dept._id %>?_method=PUT" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName4">Name</label>
              <input type="text" class="form-control" id="inputName4" name="department[department_name]"
                value="<%=dept.department_name%>">
            </div>
            <div class="form-group col-md-4">
              <label for="inputHod">Head Of Department</label>
              <select id="inputHod" class="form-control" name="department[department_hod]">
                <option selected><%= dept.department_hod%></option>
                <option>Someone 1</option>
                <option>Someone 2</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCategory">Category</label>
              <select id="inputCategory" class="form-control" name="department[department_category]">
                <option selected><%= dept.department_category%></option>
                <option>Cat 1</option>
                <option>Cat 2</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputImage4">Image Url</label>
              <input type="text" class="form-control" id="inputImage4" name="department[department_image]"
                value="<%= dept.department_image%>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea id="inputDescription" cols="30" rows="10"
              name="department[department_description]"><%= dept.department_description%></textarea>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <button type="submit" class="button primary">Update</button>
        </form>

      </section>

    </div>
  </div>

  <!-- Sidebar -->
  <%- include("../../partials/sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>