<%- include("../../partials/header") %>
<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%= currentUser.username%></a>
			</header>

			<!-- Content -->
			<section>
				<header class="main">
					<h1><%= dept.department_name%> Department</h1>
				</header>

				<span class="image main"><img src="<%= dept.department_image %>" alt="" /></span>
				<div>
					<a href="/homeadmin/departments/<%=dept._id%>/edit" class="button secondary">Edit</a>
					<form class="delete-form" action="/homeadmin/departments/<%= dept._id%>?_method=DELETE"
						method="POST">
						<button class="button primary">Delete</button>
					</form>
				</div>

				<p style="margin-top: 10px;"><%= dept.department_description%></p>

				<hr class="major" />

				<h2>Employee List</h2>
				<!-- All employees of the department will be displayed here -->

				<!-- Table -->
				<div class="table-wrapper" style="margin-top: 30px;">
					<table>
						<thead>
							<tr>
								<th>Employee ID</th>
								<th>Type</th>
								<th>Full Name</th>
								<th>Department</th>
								<th>Designation</th>

							</tr>
						</thead>
						<tbody>
							<% employees.forEach(function(emp){ %>
							<% if(emp.company === currentUser.company_name && emp.department === dept.department_name){ %>
							<tr>
								<td><a href="/homeadmin/employees/<%=emp._id%>"><%= emp.employee_id %></a></td>
								<td><%= emp.type_of_employee%> </td>
								<td><%= emp.first_name%> <%= emp.last_name%></td>
								<td><%= emp.department %></td>
								<td><%= emp.designation %></td>
							</tr>
							<% } %>
							<% }) %>
						</tbody>
					</table>
				</div>

				<hr class="major" />

				<h2>Projects</h2>
				<!-- All assigned project will be displayed here -->

				<!-- Table -->
				<div class="table-wrapper" style="margin-top: 30px;">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Start</th>
								<th>End</th>
								<th>Assigned Dept</th>
								<th>State</th>

							</tr>
						</thead>
						<tbody>
							<% projects.forEach(function(project){ %>
							<% if(project.company === currentUser.company_name && project.department === dept.department_name){ %>
							<tr>
								<td><a href="/homeadmin/projects/<%=project._id%>"><%= project.name %></a></td>
								<td><%= project.start%> </td>
								<td><%= project.end%></td>
								<td><%= project.department %></td>
								<td><%= project.state %></td>
							</tr>
							<% } %>

							<% }) %>
						</tbody>
					</table>
				</div>

			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../../partials/sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>