<%- include("../../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=employee.first_name %> <%= employee.last_name %> -
					<%= currentUser.user_role%></a>
			</header>

			<!-- Content -->
			<section>

				<header class="major">
					<h2>Employee Salary Payment</h2>
				</header>

                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Payroll Informations</h5>
                      <p class="card-text">
                          <strong>From:</strong> <%=payroll.start_date %> | <strong>To:</strong> <%=payroll.end_date %> <br>
                          <strong>Employee ID:</strong> <%=employee.employee_id%> | <strong>Full Name:</strong> <%=employee.first_name%> <%=employee.last_name%> <br>
                          <strong>Department:</strong> <%=employee.department%> | <strong>Designation:</strong> <%=employee.designation%> <br>
                          <strong>Bank Name</strong> <%=employee.bank_name%> | <strong>Account Name:</strong> <%=employee.account_name%> | <strong>Account No:</strong> <%=employee.account_no%> <br>
                          <strong>Salary Due:</strong> $<%=employee.salary%> <br>
                          <hr>
                          <strong>Salary Due:</strong> <%=employee.salary%> <br>
                          <span style="font-size: 20px; color: #f56a6a;"><strong>Status:</strong> <%=payroll.status%></span> 

                      </p>
                      <form action="/homehr/payrolls/<%=payroll._id%>?_method=PUT" method="POST">
                        <button class="button primary">Make Payement</button>
                      </form>
                      
                    </div>
                  </div>
				
			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../../partials/hr_sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>