<%- include("../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=employee.first_name %> <%= employee.last_name %> -
					<%= currentUser.user_role%></a>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header class="text-center">
						<h1><%=employee.first_name%> <%=employee.last_name%></h1>
						<p><%=employee.designation%></p>
					</header>
					<p class="text-center">
						<strong>Company: </strong><%=employee.company%> <br>
						<strong>Employee ID: </strong><%=employee.employee_id%> <br>
						<strong>Department: </strong><%=employee.department%> <br>
						<strong>Contract Type: </strong><%=employee.type_of_employee%> <br>
						<strong>Joining Date: </strong><%=employee.joining_date%> <br>
					</p>
					<div class="d-flex justify-content-center">
						<ul class="actions">
							<li><a href="/homehr/employees/<%=employee._id%>" class="button big">View More</a></li>
						</ul>
					</div>
					
				</div>
				<span class="image object">
					<img src="<%= employee.photo%>" class="image fit" style="width: 60%; margin: auto;" alt="" />
				</span>
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Services</h2>
				</header>
				<div class="features">
					<article>
						<span class="icon fa-gem"></span>
						<div class="content">
							<h3>Improve Workforce Management Efficiencies</h3>
							<p>E.M.S platform works for you, not against you, you’ll never need to import multiple files
								and re-key data across different platforms.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-handshake"></span>
						<div class="content">
							<h3>Employee Engagement</h3>
							<p>Tools such as Performance Management provides a modern way to track and evaluate employee
								development. You’re able to work with employees to establish goals, make them feel
								valuable and develop a path for their success.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-lock"></span>
						<div class="content">
							<h3>Securing Employee Information</h3>
							<p>E.M.S system provide you with specific security measures, multi-factor authentication and
								data encryption just to name a few, to keep your employees’ information safe.</p>
						</div>
					</article>
					<article>
						<span class="icon solid fa-chart-line"></span>
						<div class="content">
							<h3>HR Data Analytics & Metrics</h3>
							<p>With data analytics, solutions are developed and results are measured to not only impact
								your bottom line but help you gain more exposure to your C-Suite.</p>
						</div>
					</article>
				</div>
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Overview</h2>
				</header>

				<div class="row">
					<div class="col-md-6" style="margin-bottom: 50px;">
						<div class="container" style="width: 500px;">
							<canvas id="myEmployeeChart"></canvas>
						</div>
					</div>

					<div class="col-md-6" style="margin-bottom: 50px;">
						<div class="container" style="width: 500px;">
							<canvas id="myPayrollsChart"></canvas>
						</div>
					</div>

					<div class="col-md-6" style="margin-bottom: 50px;">
						<div class="container" style="width: 500px;">
							<canvas id="myLeavesChart"></canvas>
						</div>
					</div>

					<div class="col-md-6" style="margin-bottom: 50px;">
						<div class="container" style="width: 500px;">
							<canvas id="myAttendancesChart"></canvas>
						</div>
					</div>
				</div>
			
				<script>
					let myEmployeeChart = document.getElementById('myEmployeeChart').getContext('2d');
					let myPayrollsChart = document.getElementById('myPayrollsChart').getContext('2d');
					let myLeavesChart = document.getElementById('myLeavesChart').getContext('2d');
					let myAttendancesChart = document.getElementById('myAttendancesChart').getContext('2d');

					let fullTimes = parseInt('<%=fullTimes%>');
					let partTimes = parseInt('<%=partTimes%>');
					
					let totalPendingPayrolls = parseInt('<%=totalPendingPayrolls%>');
					let totalPaidPayrolls = parseInt('<%=totalPaidPayrolls%>');
					
					let totalPendingLeaves = parseInt('<%=totalPendingLeaves%>');
					let totalApprovedLeaves = parseInt('<%=totalApprovedLeaves%>');

					let totalLate = parseInt('<%=totalLate%>');
					let totalOnTime = parseInt('<%=totalOnTime%>');


					// Global Options
					Chart.defaults.global.defaultFontFamily = 'Lato';
					Chart.defaults.global.defaultFontSize = 15;
					Chart.defaults.global.defaultFontColor = '#777';
					// employees chart
					let employeesChart = new Chart(myEmployeeChart, {
						type: 'pie', //bar, horizontalBar, pie, line, dounut, radar, polarArea
						data: {
							labels: ['Full-Time', 'Part-Time'],
							datasets: [{
								label: 'Employees',
								data: [
									fullTimes,
									partTimes
								],
								// backgroundColor: 'green'
								backgroundColor: [
									'red',
									'pink'
								],
								hoverBorderWidth: 3,
								hoverBorderColor: 'black'
							}]
						},
						options: {
							title: {
								display: true,
								text: 'Employees Chart',
								fontSize: 15
							},
							legend: {
								display: true,
								position: 'top',
								labels: {
									fontColor: 'black'
								}
							},
							layout: {
								padding:{
									left: 0,
									right: 0,
									bottom: 0,
									top: 0
								}
							},
							tooltips: {
								enabled: true
							}
						}
					
					
					});
					
					// payrolls chart
					let payrollsChart = new Chart(myPayrollsChart, {
						type: 'pie', //bar, horizontalBar, pie, line, dounut, radar, polarArea
						data: {
							labels: ['Pending', 'Paid'],
							datasets: [{
								label: 'Payrolls',
								data: [
									totalPendingPayrolls,
									totalPaidPayrolls
								],
								// backgroundColor: 'green'
								backgroundColor: [
									'#98b4eb',
									'#3471eb'
								],
								hoverBorderWidth: 3,
								hoverBorderColor: 'black'
							}]
						},
						options: {
							title: {
								display: true,
								text: 'Payrolls Chart',
								fontSize: 15
							},
							legend: {
								display: true,
								position: 'top',
								labels: {
									fontColor: 'black'
								}
							},
							layout: {
								padding:{
									left: 0,
									right: 0,
									bottom: 0,
									top: 0
								}
							},
							tooltips: {
								enabled: true
							}
						}
					
					
					});
					
					// leaves chart
					let leavesChart = new Chart(myLeavesChart, {
						type: 'pie', //bar, horizontalBar, pie, line, dounut, radar, polarArea
						data: {
							labels: ['Pending', 'Approved'],
							datasets: [{
								label: 'Leaves',
								data: [
									totalPendingLeaves,
									totalApprovedLeaves
								],
								// backgroundColor: 'green'
								backgroundColor: [
									'#edba7b',
									'#e88d1e'
								],
								hoverBorderWidth: 3,
								hoverBorderColor: 'black'
							}]
						},
						options: {
							title: {
								display: true,
								text: 'Leaves Chart',
								fontSize: 15
							},
							legend: {
								display: true,
								position: 'top',
								labels: {
									fontColor: 'black'
								}
							},
							layout: {
								padding:{
									left: 0,
									right: 0,
									bottom: 0,
									top: 0
								}
							},
							tooltips: {
								enabled: true
							}
						}
					
					
					});

					// attendances chart
					let attendancesChart = new Chart(myAttendancesChart, {
						type: 'pie', //bar, horizontalBar, pie, line, dounut, radar, polarArea
						data: {
							labels: ['On Time', 'Late'],
							datasets: [{
								label: 'Attendances',
								data: [
									totalOnTime,
									totalLate
								],
								// backgroundColor: 'green'
								backgroundColor: [
									'#540db8',
									'#a781de'
								],
								hoverBorderWidth: 3,
								hoverBorderColor: 'black'
							}]
						},
						options: {
							title: {
								display: true,
								text: 'Attendances Chart',
								fontSize: 15
							},
							legend: {
								display: true,
								position: 'top',
								labels: {
									fontColor: 'black'
								}
							},
							layout: {
								padding:{
									left: 0,
									right: 0,
									bottom: 0,
									top: 0
								}
							},
							tooltips: {
								enabled: true
							}
						}
					
					
					});
					
					</script>
			


				<!-- <div class="card-columns">
					
					
					<div class="card text-white bg-info mb-3">
						<div class="card-header" style="font-weight: 800;"">Attendances</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Total: </strong> <%= attendances.length%><br>
								<strong style="color: white;">Late: </strong> <br>
								<strong style="color: white;">On Time: </strong> <br>
							</p>
						</div>
					</div>
					
					<div class="card text-white bg-dark mb-3">
						<div class="card-header" style="font-weight: 800;"">Payrolls</div>
						<div class="card-body" >
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Pending:</strong> <%=totalPendingPayrolls%><br>
								<strong style="color: white;">Paid:</strong> <%=totalPaidPayrolls%>
							</p>
						</div>
					</div>

					<div class="card text-white bg-success mb-3">
						<div class="card-header" style="font-weight: 800;"">Leaves</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Pending: </strong><%=totalPendingLeaves%><br>
								<strong style="color: white;">Approved: </strong><%=totalApprovedLeaves%>
							</p>
						</div>
					</div>

					<div class="card text-white bg-primary mb-3">
						<div class="card-header" style="font-weight: 800;"">Employee</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Total: </strong><%=employees.length%> <br>
								<strong style="color: white;">Full-Time: </strong> <%=fullTimes%><br>
								<strong style="color: white;">Part-Time: </strong> <%=partTimes%>
							</p>
						</div>
					</div>

				</div> -->
				

				
			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../partials/hr_sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>